@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

:root {
  --mouse-x: 0;
  --mouse-y: 0;
}

.btn {
  border-width: 0.5rem;
  border-radius: 50% 50%;
  /* padding: 0.5rem 1rem; */
  display: inline-block;
  text-align: center;
}



